# alias ls='ls --color=auto'
# alias ll='ls -alF'
# alias la='ls -A'
# alias l='ls -CF'
alias ls='exa --long --all'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias upd='sudo apt update && sudo apt upgrade -yy'
alias clean='sudo apt autoremove && sudo apt autoclean -yy'
alias up='upd && clean'

alias nf='neofetch'

alias python='py'

alias vim='nvim'

